<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Subtype>ContainerRegistry</Subtype>
    <DockerPublish>True</DockerPublish>
    <ResourceId>/subscriptions/050afbd7-cbbd-4830-8352-36d465f098e3/resourceGroups/ST10069206/providers/Microsoft.Web/sites/OPSC-PetAPI</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://opsc-petapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://opsc-petapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$OPSC-PetAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>